.maindiv {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #444cf7,
    #444cf7 1px,
    #e5e5f7 1px,
    #e5e5f7
  );
  height: 100vh;
  width: 0;
  transition: 0.5s;
}
button {
  margin: 10px !important;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
  margin: 30px;
  color: black;
  font-size: 40px;
  display: none;
}
li {
  font-style: italic;
}
